<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

            <div data-spy="affix" data-offset-top="200">
                <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                    <div class="container">
                        <div class="navbar-header">
                            {{ partial "navbar.html" . }}
                        </div>
                        
                        <div class="collapse clearfix" id="search">

                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">

                                <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                            </span>
                                </div>
                            </form>

                        </div>
                        <!--/.nav-collapse -->

                    </div>
                </div>
            </div>
            <!-- /#navbar -->
        </header>

        <section class="bar background-white nopadding">
            <div class="container">
                <img src="{{ .Site.BaseURL }}img/ante_white.svg" class="logo" width="200rem" alt="{{ .Title }}">

                <div class="container" padding=0 margin=0>

                    <h2>A safe, easy systems language</h2>

                    <div class="lead" text-align="center">{{ .Site.Params.description }}</div>
                </div>
            </div>
        </section>

        <section class="bar background-white"style="padding: 0 !important; margin-top: -3rem; margin-bottom: 2rem;">
            <div class="container" >
                <h2>Ante is in active development</h2>

                <div class="lead" text-align="center">
                    Ante is currently in active development and the compiler is in a very early state.
                    In addition, the features listed on this website detail the language itself rather
                    than the subset that is implemented by the current compiler.  If you are interested
                    to see which features are implemented, please look at the github page linked below.
                    Any features not tested in the integration tests are likely to not yet be implemented.
                </div>
            </div>
        </section>


        {{ partial "carousel.html" . }}
        
        <section class="bar background-white">
            <div class="container">
                <h2>Making it easier to read and write faster programs</h2>

                <div class="lead" text-align="center">
                    Ante is a low-level language just like Rust or C++, but one of ante's main goals
                    is to make it easier to write fast programs that are still memory-safe. Such code
                    should be idiomatic and easy to read so that developers can spend as little time
                    as possible optimizing and more time implementing new features. This is accomplished
                    primarily through region inference, which automatically infers the lifetime of pointers
                    and ensures you will never run into a use-after-free, double-free, or forget-to-free
                    unless you explicitly opt-out by using a different pointer type. Moreover, because
                    lifetimes are completely inferred, you don't have to be aware of them while programming,
                    making ante approachable even for developers used to garbage-collected languages. Memory
                    within a region is arena allocated for the best performance, and regions tend to be
                    small which helps reduce memory fragmentation.
                </div>
            </div>
        </section>

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
